---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---


<BaseLayout pageTitle={pageTitle}>
  ブログサイトです。 <a href="/blog/">ここからブログの記事一覧を見ることができます。</a>
</BaseLayout>