---
---

<div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>

<style>
    .hamburger {
        padding: 8px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .line {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #333;
        transition: all 0.3s ease-in-out;
    }

</style>

<script>
    const hamburger = document.querySelector('.hamburger');
    if (hamburger) {
        hamburger.addEventListener('click', function(this: HTMLElement) {
            this.classList.toggle('active');
        });
    }
</script>