---
---

<div class="nav-links">
    <a href="/" class="site-title">Teymo Blog</a>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/tags/">Tags</a>
</div>

<style>
    .site-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-right: 1rem;
    }
</style>